<ion-view view-title="О ПРОЕКТЕ">
    <ion-content>
        <div class="row">
            <h2 class="title">Мамина диета</h2>
        </div>
        <img src="img/oyi.jpg" class="full-image">
        <div class="list">
            <div class="item">
                <p>Проект создан специально для мам.</p>
            </div>
            <a class="item item-avatar" href="https://www.facebook.com/uzbabo">
                <img src="img/abror.jpg">
                <h2>Аброр Шарипов</h2>
                <p>Старшый брат</p>
            </a>
            <div class="item item-avatar">
                <img src="img/shoira.jpg">
                <h2>Шоира Шарипова</h2>
                    <p>Сестра</p>
            </div>
            <a class="item item-avatar" href="https://www.facebook.com/gulnozas">
                <img src="img/guli.jpg">
                <h2>Гули Шарипова</h2>
                <p>Диетолог</p>
            </a>

            <a class="item item-avatar" href="https://www.facebook.com/multiaki">
                <img src="img/aki.jpg">
                <h2>Аки Шарипов</h2>
                <p>Создатель программы</p>
            </a>
        </div>


    </ion-content>
</ion-view>
