<ion-view view-title="ПЯТНИЦА">
    <ion-content>
        <div class="row">
            <h2 class="title">Завтрак 8:00</h2>
        </div>
         <div class="list">
            <div class="item">
                1 ломтик хлеба
            </div>
            <div class="item">
                30 гр нежирного сыра
            </div>
             <div class="item">
                 1/2 грейпфрута
             </div>
        </div>
        <div class="row">
            <h2 class="title">Второй Завтрак 11:00</h2>
        </div>
         <div class="list">
            <div class="item">
                йогурт
            </div>
        </div>
        <div class="row">
            <h2 class="title">Обед 2:00</h2>
        </div>
         <div class="list">
            <div class="item">
                овощной суп
            </div>
            <div class="item">
                куринный салат
            </div>
        </div>
        <div class="row">
            <h2 class="title">Полдник 5:00</h2>
        </div>
         <div class="list">
            <div class="item">
                ягоды
            </div>
            <div class="item">
                орехи
            </div>
             <div class="item">
                груша
             </div>
        </div>
        <div class="row">
            <h2 class="title">Ужин 7:00</h2>
        </div>
         <div class="list">
            <div class="item">
                диетический плов
            </div>
            <div class="item">
                салат из помодоров
            </div>
        </div>
        <div class="row">
            <h2 class="title">Перед Сном 9:00</h2>
        </div>
        <div class="list">
            <div class="item">
                1/2 грейпфрута
            </div>
            <div class="item">
                1 стакан йогурта
            </div>
        </div>
    </ion-content>
</ion-view>
