<ion-view view-title="ПОНЕДЕЛЬНИК">
    <ion-content>
        <div class="row">
            <h2 class="title">Завтрак 8:00</h2>
        </div>
        <div class="list">
            <div class="item">
                овсянка на молоке без сахара
            </div>
            <div class="item">
                черный хлеб
            </div>
            <div class="item">
                яблоки семеренко
            </div>
        </div>
        <div class="row">
            <h2 class="title">Второй Завтрак 11:00</h2>
        </div>
        <div class="list">
            <div class="item">
                творог
            </div>
            <div class="item">
                груша
            </div>
        </div>
        <div class="row">
            <h2 class="title">Обед 2:00</h2>
        </div>
        <div class="list">
            <div class="item">
                овощной суп из курицы
            </div>
            <div class="item">
                салат
            </div>
        </div>
        <div class="row">
            <h2 class="title">Полдник 5:00</h2>
        </div>
        <div class="list">
            <div class="item">
                ягоды
            </div>
            <div class="item">
                орехи
            </div>
            <div class="item">
                грейпфрут
            </div>
        </div>
        <div class="row">
            <h2 class="title">Ужин 7:00</h2>
        </div>
        <div class="list">
            <div class="item">
                салат из 150 гр. рыбы (туна), капуста, репа, салатный лист, сладкий перец, лимонный сок, зелень,
                перетертых ягод брусники
            </div>
        </div>
        <div class="row">
            <h2 class="title">Перед Сном 9:00</h2>
        </div>
        <div class="list">
            <div class="item">
                черный хлеб с маслом
            </div>
        </div>
    </ion-content>
</ion-view>