<ion-view view-title="СУББОТА">
    <ion-content>
        <div class="row">
            <h2 class="title">Завтрак 8:00</h2>
        </div>
        <div class="list">
            <div class="item">
                сериал
            </div>
            <div class="item">
                творог
            </div>
        </div>
        <div class="row">
            <h2 class="title">Второй Завтрак 11:00</h2>
        </div>
        <div class="list">
            <div class="item">
                черный хлеб
            </div>
            <div class="item">
                гамбургер из курицы, огурца, помидора
            </div>
        </div>
        <div class="row">
            <h2 class="title">Обед 2:00</h2>
        </div>
        <div class="list">
            <div class="item">
                салат из листьев салата и рыбы
            </div>
            <div class="item">
                рис
            </div>
        </div>
        <div class="row">
            <h2 class="title">Полдник 5:00</h2>
        </div>
        <div class="list">
            <div class="item">
                1 стакан томатного сока
            </div>
            <div class="item">
                орехи
            </div>
        </div>
        <div class="row">
            <h2 class="title">Ужин 7:00</h2>
        </div>
        <div class="list">
            <div class="item">
                Салат
            </div>
            <div class="item">
                Котлеты
            </div>
            <div class="item">
                Орехи
            </div>
        </div>
        <div class="row">
            <h2 class="title">Перед Сном 9:00</h2>
        </div>
        <div class="list">
            <div class="item">
                симиренко яблоки
            </div>
            <div class="item">
                йогурт
            </div>
        </div>
    </ion-content>
</ion-view>
