<ion-view view-title="ВОСКРЕСЕНЬЕ">
    <ion-content>
        <div class="row">
            <h2 class="title">Завтрак 8:00</h2>
        </div>
        <div class="list">
            <div class="item">
                овсяная каша
            </div>
            <div class="item">
                черный хлеб с сыром
            </div>
        </div>

        <div class="row">
            <h2 class="title">Второй Завтрак 11:00</h2>
        </div>
        <div class="list">
            <div class="item">
                йогурт
            </div>
            <div class="item">
                морковь
            </div>
            <div class="item">
                чеснок
            </div>
            <div class="item">
                1/2 помидор
            </div>
        </div>

        <div class="row">
            <h2 class="title">Обед 2:00</h2>
        </div>
        <div class="list">
            <div class="item">
                овощной суп
            </div>
            <div class="item">
                салат
            </div>
        </div>

        <div class="row">
            <h2 class="title">Полдник 5:00</h2>
        </div>
        <div class="list">
            <div class="item">
                ягоды
            </div>
            <div class="item">
                йогурт
            </div>
            <div class="item">
                яблоки семеренко
            </div>
        </div>

        <div class="row">
            <h2 class="title">Ужин 7:00</h2>
        </div>
        <div class="list">
            <div class="item">
                запеченные овощи
            </div>
            <div class="item">
                запеченная рыба
            </div>
            <div class="item">
                салат
            </div>
        </div>

        <div class="row">
            <h2 class="title">Перед Сном 9:00</h2>
        </div>
        <div class="list">
            <div class="item">
                орехи
            </div>
            <div class="item">
                грейпфрут
            </div>
        </div>
    </ion-content>
</ion-view>
