<ion-view view-title="ЧЕТВЕРГ">
    <ion-content>
        <div class="row">
            <h2 class="title">Завтрак 8:00</h2>
        </div>
         <div class="list">
            <div class="item">
                овсяная каша
            </div>
            <div class="item">
                черный хлеб
            </div>
        </div>
        <div class="row">
            <h2 class="title">Второй Завтрак 11:00</h2>
        </div>
         <div class="list">
            <div class="item">
                1 твердая груша
            </div>
            <div class="item">
                грецкие орехи
            </div>
        </div>
        <div class="row">
            <h2 class="title">Обед 2:00</h2>
        </div>
         <div class="list">
            <div class="item">
                100 гр курицы
            </div>
            <div class="item">
               1/2 тарелки перловки
            </div>
             <div class="item">
                 салат
             </div>
        </div>
        <div class="row">
            <h2 class="title">Полдник 5:00</h2>
        </div>
         <div class="list">
            <div class="item">
                горький шоколад
            </div>
            <div class="item">
                симиренко яблоко
            </div>
        </div>
        <div class="row">
            <h2 class="title">Ужин 7:00</h2>
        </div>
         <div class="list">
            <div class="item">
                салат из 90 гр. куриные грудки, 1/2 яблока, салатный лист, сладкий перец, лимонный сок, зелень
            </div>
             <div class="item">
                 черный хлеб
             </div>
            <div class="item">
                1 стакан йогурт
            </div>
        </div>
        <div class="row">
            <h2 class="title">Перед Сном 9:00</h2>
        </div>
    </ion-content>
</ion-view>
