<ion-view view-title="ВТОРНИК">
    <ion-content>
        <div class="row">
            <h2 class="title">Завтрак 8:00</h2>
        </div>
        <div class="list">
            <div class="item">
                сериал с молоком без сливок
            </div>
        </div>

        <div class="row">
            <h2 class="title">Второй Завтрак 11:00</h2>
        </div>
        <div class="list">
            <div class="item">
                черный хлеб с сыром
            </div>
            <div class="item">
                яблоко
            </div>
        </div>

        <div class="row">
            <h2 class="title">Обед 2:00</h2>
        </div>
        <div class="list">
            <div class="item">
                70 гр. гречки
            </div>
            <div class="item">
                парные котлеты
            </div>
            <div class="item">
                салат
            </div>
        </div>

        <div class="row">
            <h2 class="title">Полдник 5:00</h2>
        </div>
        <div class="list">
            <div class="item">
                1 стакан томатного сока
            </div>
            <div class="item">
                груша
            </div>
        </div>

        <div class="row">
            <h2 class="title">Ужин 7:00</h2>
        </div>
        <div class="list">
            <div class="item">
                1/2 чашка коричневого риса
            </div>
            <div class="item">
                салат из капусты с зеленью
            </div>
        </div>

        <div class="row">
            <h2 class="title">Перед Сном 9:00</h2>
        </div>
        <div class="list">
            <div class="item">
                йогурт
            </div>
        </div>
    </ion-content>
</ion-view>
