<ion-view view-title="СРЕДА">
    <ion-content>
        <div class="row">
            <h2 class="title">Завтрак 8:00</h2>
        </div>
        <div class="list">
            <div class="item">
                яичница без желтка без масла
            </div>
            <div class="item">
                черный хлеб
            </div>
        </div>
        <div class="row">
            <h2 class="title">Второй Завтрак 11:00</h2>
        </div>
        <div class="list">
            <div class="item">
                помидор
            </div>
            <div class="item">
                1 стакан йогурт
            </div>
        </div>
        <div class="row">
            <h2 class="title">Обед 2:00</h2>
        </div>
        <div class="list">
            <div class="item">
                борщ с капоустой
            </div>
            <div class="item">
                туна
            </div>
            <div class="item">
                черный хлеб
            </div>
        </div>
        <div class="row">
            <h2 class="title">Полдник 5:00</h2>
        </div>
        <div class="list">
            <div class="item">
                творог
            </div>
            <div class="item">
                ягоды
            </div>
        </div>
        <div class="row">
            <h2 class="title">Ужин 7:00</h2>
        </div>
        <div class="list">
            <div class="item">
                запеченные овощи
            </div>
            <div class="item">
                запеченная рыба
            </div>
        </div>
        <div class="row">
            <h2 class="title">Перед Сном 9:00</h2>
        </div>
        <div class="list">
            <div class="item">
                грейпфрут
            </div>
            <div class="item">
                сыр
            </div>
        </div>
    </ion-content>
</ion-view>
